root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.{rs,toml,md,jsonc,json,sh}]
indent_style = space
indent_size = 4

[*.sh]
simplify = true
binary_next_line = true
switch_case_indent = true
space_redirects = true

[{.vscode/mise-tools,target}/**]
ignore = true
